body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
}

.container{
    border: 1px solid black;
    text-align: left;
    padding: 1em;
}

h1{
    font-size: 20px;
    color: black;

}

.cabecera{
    color: coral;
    font-weight: bold;
    font-size: 30px;
    background-color: black;
    padding: 10px;
    text-align: center;
    border: 3px dashed yellow;
}